<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    < src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></>
    < src=".js" defer></>
</head>
<body>

    <div id="products">
        <p>Max Price: ({{ value }})</p>
        <input type="range" name="range" id="price" min="0" max="300" v-model="value">
        <ul>
            <li v-for="product in productsArray">
                <img :src="product.image">
                <h1>{{ product.name }}</h1>
                <p>{{ product.deion }}</p>
                <p>{{ product.price }}$</p>
            </li>
        </ul>
    </div>
    
</body>
</html>